<!-- <h1>this is this frint page</h1> -->
<!-- <app-resister></app-resister> -->
<!-- <app-head  *ngIf= "router.url!=='/nav'" ></app-head> -->
<!-- <app-nav ></app-nav> -->

<!-- <div *ngIf= "router.url =='/nav'; else elseBlock"> -->
    <!-- <app-nav><router-outlet></router-outlet></app-nav> -->
<!-- </div> -->
<!-- <ng-template #elseBlock> -->
  <!-- <div> -->
   <!-- <router-outlet></router-outlet> -->
  <!-- </div> -->
<!-- </ng-template> -->
<!-- <app-login *ngif="router.url!=='/login'"></app-login> -->
<router-outlet></router-outlet>
