 <div style="justify-content: center;">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form [formGroup]="loginForm" (ngSubmit)="loginAdmin(loginForm)" class="form-layout">
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input matInput placeholder="Enter Your Name" type="Email" formControlName="Email">
				<input matInput placeholder="Enter Your Password" type="Password" formControlName="Password">
				<a (click)="gotoreisiter()">Resister</a>
				<button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
			</form>
		</div>
	</div>

 </div>